{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  {{ template "header" . }}
  <body>
    <div class="container">
      {{ template "content" . }}
    </div>
  </body>
  {{ template "footer" . }}
</html>
{{ end }}

{{ define "base-vcenter" }}
<!DOCTYPE html>
<html lang="en">
  {{ template "header" . }}
  <body>
    <div class="vcenter">
      <div class="container">
        {{ template "content" . }}
      </div>
    </div>
  </body>
  {{ template "footer" . }}
</html>
{{ end }}
