{{ define "footer" }}
  <script src="../static/js/materialize.min.js"></script>
  <script src="../static/js/materialize-tags.js"></script>
  <script src="../static/js/script.js"></script>
  {{ if ne .Message "" }}
    <script>
    $(document).ready(function() {
      Materialize.toast({{.Message}}, 5000);
    });
    </script>
  {{ end }}
{{ end }}
